/* Page */
[data-selector="EchoPlus"] {
  --coverImageHeight: 50vh;
}

[data-selector="EchoPlus"] [data-selector="pageIcon"] {
  margin-left: auto !important;
  margin-right: auto !important;
}
[data-selector="EchoPlus"] [data-selector="pageTitle"] {
  text-align: center !important;
}
/* YOU CAN ADD HERE YOUR CUSTOM CSS CODE */
.custom-button {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/**** BTN No. 10 ****/
.custom-button {
  /* background: transparent; */
  border: 2px solid var(--primary);
  transition: all 0.3s ease;
}
.custom-button:before,
.custom-button:after {
  position: absolute;
  content: " ";
  z-index: -1;
  width: 25%;
  top: 50%;
  height: 2px;
  background: var(--primary);
  transition: all 0.3s ease;
}
.custom-button:before {
  left: -15%;
}
.custom-button:after {
  right: -15%;
}
.custom-button:hover {
  background: var(--primary);
  color: var(--text);
}
.custom-button:hover:before {
  left: -10%;
}
.custom-button:hover:after {
  right: -10%;
}
