/* Created by: Orel Hassid 2020 */
/* Import fonts from Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* 
Themes:
Dark: bg = #1F2430
Light: bg = #FDF6E3, text = 
*/
:root {
  --bg: #1f2430;
  --color: #fff;
  --link-color: #639a67;
  --link-hover: #205d67;
}

/* Page Body: Change Font */
.notranslate {
  font-family: "Acme", "Rubik", cursive !important;
}

.notion-frame {
  background: var(--bg) !important;
  color: var(--color) !important;
}
.notion-sidebar-container {
  background: var(--bg) !important;
}

.notion-collection_view-block > div {
  background: var(--bg) !important;
}

/* Page Title: Change Font */
.notion-page-block {
  text-align: center !important;
  font-family: "Acme", "Rubik", cursive !important;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* Page Icon */
.notion-scroller.vertical.horizontal
  > div
  > div
  > .notion-record-icon[role="button"] {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
}

.notion-scroller.vertical.horizontal > div:nth-child(1) > div:nth-child(1) {
  height: 40vh !important;
}

.notion-scroller.vertical.horizontal > div:nth-child(1) > div:nth-child(1) img {
  height: 40vh !important;
}
.notion-image-block {
  border-radius: 2px;
  overflow: hidden;
}

/*
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Created by: Orel Hassid */
/* Import fonts from Google Fonts */

/* Table Alignment  */
.notion-collection_view-block * {
  text-align: right !important;
}
/* Page Title: Change Font */

/* Page Title: Change Font */
.notion-page-block {
  text-align: right !important;
}

/* Quote Block */
.notion-quote-block > div > div {
  border-right: 3px solid currentcolor;
  border-left: 0px solid currentcolor !important;
}

/* Content Body */
.notion-page-content {
  direction: rtl;
  text-align: right;
}

/* Text */
.notranslate {
  text-align: right !important;
}

/* Notion List */
.notion-numbered_list-block * {
  text-align: right !important;
}

.notion-bulleted_list-block * {
  text-align: right !important;
}

/* Page Props */
.notion-scroller:nth-child(2) {
  direction: ltr;
}
/* Page Header */
.notion-frame .notion-scroller > div {
  direction: rtl;
}
/* Turn into */
.vertical {
  direction: ltr;
}

/* Code Block */
.notion-code-block div {
  text-align: left !important;
  direction: ltr;
}
.notion-collection-item {
  direction: rtl;
}

/* Inline-List */
.notion-collection-item > a > div > div:nth-child(2) {
  margin-right: 0 !important;
  flex: 1;
}

/* notion-collection-view-item-add */
.notion-collection-view-item-add {
  flex-direction: row-reverse;
}
