/* Page Header */
div.notion-frame > div:nth-child(2) > div:first-child {
  direction: rtl;
}

/* Change Cover button */
div.notion-frame
  > div:nth-child(2)
  > div:first-child
  > div
  > div:last-child
  > div {
  left: 0px;
  right: auto !important;
}

/* Main Content */
div.notion-frame div.notion-page-content {
  direction: rtl;
}
div.notion-frame div.notion-page-content div {
  text-align: right !important;
}

/* Div Buttons with Icons */
div.notion-page-controls div[role="button"] > svg
/* div.notion-collection_view-block div[role="button"][tabindex="0"] > svg */ {
  margin-left: 6px;
  margin-right: 0px !important;
}

/* SIMPLE BLOCKS */

/* Toggle block */
div.notion-toggle-block div {
}

/* Quote */
div.notion-quote-block div.notranslate {
  border-left: none !important;
  border-right: 3px solid currentcolor;
}

/* DATABASES */

/* New Button */
div.notion-collection_view-block div.notion-collection-view-item-add {
  flex-direction: row-reverse;
  margin-right: 10px;
  margin-left: 0px !important;
}

/* Table */
div.notion-table-view {
  float: right !important;
}
/* Table Header Cells */

div.notion-table-view div.notion-table-view-header-cell > div > div > div {
  margin-left: 6px;
  margin-right: 0px !important;
}

div.notion-table-view div.notion-collection-item a {
  right: auto !important;
  left: 6px;
}
div.notion-table-view > div > div:nth-last-child(2) {
  padding-right: 0px !important;
  padding-left: 32px !important;
}
div.notion-table-view > div > div:nth-last-child(2) div {
  flex-direction: row-reverse !important;
}

/* Gallery */
div.notion-gallery-view a > div > div:last-child {
  padding-right: 10px;
  padding-left: 0px !important;
}

/* Align Tags Props */
div.notion-gallery-view a > div > div > div > div > div {
  margin: 0px !important;
}
