/* Created by: Orel Hassid */
/* Import fonts from Google Fonts */

/* Table Alignment  */
.notion-collection_view-block * {
  text-align: right !important;
}
/* Page Title: Change Font */

/* Page Title: Change Font */
.notion-page-block {
  text-align: right !important;
}

/* Quote Block */
.notion-quote-block > div > div {
  border-right: 3px solid currentcolor;
  border-left: 0px solid currentcolor !important;
}

/* Content Body */
.notion-page-content {
  direction: rtl;
  text-align: right;
}

/* Text */
.notranslate {
  text-align: right !important;
}

/* Notion List */
.notion-numbered_list-block * {
  text-align: right !important;
}

.notion-bulleted_list-block * {
  text-align: right !important;
}

/* Page Props */
.notion-scroller:nth-child(2) {
  direction: ltr;
}
/* Page Header */
.notion-frame .notion-scroller > div {
  direction: rtl;
}
/* Turn into */
.vertical {
  direction: ltr;
}

/* Code Block */
.notion-code-block div {
  text-align: left !important;
  direction: ltr;
}
.notion-collection-item {
  direction: rtl;
}

/* Inline-List */
.notion-collection-item > a > div > div:nth-child(2) {
  margin-right: 0 !important;
  flex: 1;
}

/* notion-collection-view-item-add */
.notion-collection-view-item-add {
  flex-direction: row-reverse;
}

/* Table */
.notion-table-view {
  float: right !important ;
}
